[submodule "tTexture-Core/vendor/glm"]
	path = tTexture-Core/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "tTexture-Core/vendor/spdlog"]
	path = tTexture-Core/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
